.container__img {
    background-image: url(../../img/technology/image-spaceport-landscape-p.jpg);
}

@media screen and (min-width: 376px) {
    .container__img {
        background-image: url(../../img/technology/image-spaceport-landscape-m.jpg);
    }
}

@media screen and (min-width: 790px) {
    .container__img {
        background-image: url(../../img/technology/image-spaceport-landscape-g.jpg);
    }
}
