.container__img {
    background-image: url(../../img/technology/image-launch-vehicle-landscape-p.jpg);
}

@media screen and (min-width: 376px) {
    .container__img {
        background-image: url(../../img/technology/image-launch-vehicle-landscape.jpg);
    }
}

@media screen and (min-width: 790px) {
    .container__img {
        background-image: url(../../img/technology/image-launch-vehicle-portrait.jpg);
    }
    
}
