@media screen and (min-width: 376px) {
    body {
        background-image: url(../../img/technology/background-technology-tablet.jpg);
    }

    .container__img {
        background-image: url(../../img/technology/image-launch-vehicle-landscape.jpg);
    }
}

@media screen and (min-width: 548px) {
    .content__title {
        margin-top: 2.5rem;
        font-size: 20px;
    }

    .container__img {
        height: 19.375rem;
        margin: 3.75rem 0 3.5rem 0;
    }

    .content__btn {
        width: 60px;
        height: 60px;
    }

    .content__subtitle {
        font-size: 16px;
        margin: 2.75rem 0 1rem 0;
    }

    .content__name {
        font-size: 35px;
    }

    .content__text {
        font-size: 16px;
        text-align: center;
        padding: 0 calc((593px - 458px)/2);
        margin: 1.5rem 0 5rem 0;
    }
}

@media screen and (min-width: 790px) {
    body {
        background-image: url(../../img/technology/background-technology-desktop.jpg);
        width: 100%;
    }

    .content__title {
        display: flex;
        padding-left: calc(45rem/2);
    }

    .conteiner__content {
        position: relative;
        left: -1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% + 3rem);
    }

    .container__img {
        background-image: url(../../img/technology/image-launch-vehicle-portrait.jpg);
        left: 0;
        width: 32.188rem;
        height: 32.938rem;
        order: 2;
    }

    .container__text {
        display: flex;
        width: 57.813rem;
    }

    .container__btns {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 19rem;
    }

    .content__btn {
        width: 80px;
        height: 80px;
    }
}
