@media screen and (min-width: 376px) {
    body {
        background-image: url(../../img/technology/background-technology-tablet.jpg);
    }

    .container__img {
        background-image: url(../../img/technology/image-launch-vehicle-landscape.jpg);
    }
}

@media screen and (min-width: 548px) {
    .content__title {
        margin-top: 2.5rem;
        font-size: 20px;
    }

    .container__img {
        height: 19.375rem;
        margin: 3.75rem 0 3.5rem 0;
    }

    .content__btn {
        width: 60px;
        height: 60px;
    }

    .content__subtitle {
        font-size: 16px;
        margin: 2.75rem 0 1rem 0;
    }

    .content__name {
        font-size: 35px;
    }

    .content__text {
        font-size: 16px;
        text-align: center;
        padding: 0 calc((593px - 458px)/2);
        margin: 1.5rem 0 5rem 0;
    }
}

@media screen and (min-width: 769px) {
    body {
        background-image: url(../../img/technology/background-technology-desktop.jpg);
    }

    .container__img {
        background-image: url(../../img/technology/image-launch-vehicle-portrait.jpg);
    }
}
