body {
    background-image: url(../img/destination/background-destination-mobile.jpg);
    background-repeat: no-repeat;
}

.body {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Barlow Condensed', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.title b {
    font-weight: 700;
    mix-blend-mode: normal;
    opacity: 0.25;
    padding-right: 18px;
}

.img__destiny {
    background-image: url(../img/destination/image-moon-p.png);
    width: 10.625rem;
    height: 10.625rem;
}

.destinyList {
    display: flex;
    justify-content: center;
    margin-top: 1.625rem;
    padding-bottom: 2rem;
}

.destinyList__list {
    display: flex;
    justify-content: space-between;
    width: 15rem;
}

.destinyBtn {
    font-family: 'Barlow Condensed', sans-serif;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
    height: 1.75rem;
    border: none;
    color: #D0D6F9;
}

.destinyBtn:defined {
    color: #fff;
    border-bottom: 3px solid #fff;
}

.destinyBtn:hover {
    border-bottom: 3px solid #979797;
}

.subtitle {
    font-family: 'Bellefair', serif;
    font-size: 58px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 20px;
}

.text {
    padding: 1.5rem .5rem 2rem .5rem;
    border-bottom: 1px solid #383B4B;
    font-size: 15px;
    line-height: 25px;
    color: #D0D6F9;
}

/* SECTION DATA */

.container__data {
    margin-top: 2rem;
}

.distance {
    margin-top: 2rem;
}

.data__title {
    margin-bottom: .6rem;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    color: #D0D6F9;
}

.data__content {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-family: 'Bellefair', serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #fff;
}
