@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

body {
    background-image: url(../img/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
}

.body {
    margin: 0 1.5rem;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
}

#logo {
    width: 40px;
    height: 40px;
}

.btnMobile {
    position: relative;
    background-image: url(../img/shared/icon-hamburger.svg);
    background-color: transparent;
    border: none;
    width: 24px;
    height: 21px;
    z-index: 2;
}

.btnMobile.active1 {
    background-image: url(../img/shared/icon-close.svg);
    width: 19.09px;
    height: 19.09px;
    transition: .2s;
}

#navMenu {
    display: none;
}

.navMenu__div {
    padding: 7.1rem 0 0 2rem;
}

.active2 {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    height: 2rem;
    transition: none;
}

.active2:hover {
    border-right: 2px solid #fff;
}

.active3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-decoration: none;
    color: #fff;
}

.active3 b {
    font-weight: 700;
}

#nav.active #navMenu {
    display: block;
    position: absolute;
    width: calc(100% - 9rem);
    height: 100%;
    left: 9rem;
    top: 0px;

    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(10px);
    z-index: 1;
}

/* FIM DO CABEÇALHO*/

.container__introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-top: 3rem;
}

.subtitle {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    line-height: 24px;
    text-align: center;
    letter-spacing: 3.375px;
}

.title {
    font-family: 'Bellefair', serif;
    font-size: 80px;
    text-transform: uppercase;
    padding: 1.5rem 0;
}

.description {
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #D0D6F9;
}

.container__button {
    margin: 4rem 0 1.5rem 0;
    text-align: center;
}

.button {
    font-family: 'Bellefair', serif;
    font-size: 20px;
    text-transform: uppercase;
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 100%;
    border: none;
}

.button:hover {
    outline: 20px solid #9797972a;
    cursor: pointer;
}


