@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

body {
    padding: 0 1.5rem;
    background-image: url(../img/home/background-home-mobile.jpg);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
}

#logo {
    width: 40px;
    height: 40px;
}

.btnMobile {
    position: relative;
    background-image: url(../img/shared/icon-hamburger.svg);
    background-color: transparent;
    border: none;
    width: 24px;
    height: 21px;
    z-index: 2;
}

.btnMobile.active {
    background-image: url(../img/shared/icon-close.svg);
    width: 19.09px;
    height: 19.09px;
    transition: .1s;
}

#navMenu {
    display: none;
    position: absolute;
    width: 15.875rem;
    height: 120vh;
    left: 7.563rem;
    top: 0px;

    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(10px);
    z-index: 1;
}

.navMenu__div {
    padding: 7.1rem 0 0 2rem;
}

.navMenu__div b {
    font-weight: 700;
}

#navMenu li {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    height: 2rem;
}

#navMenu li:hover {
    border-right: 2px solid #fff;
}

#navMenu a {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-decoration: none;
    color: #fff;
}

#nav.active #navMenu {
    display: block;
}

.container__introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-top: 3rem;
}

.subtitle {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
}

.title {
    font-family: 'Bellefair', serif;
    font-size: 80px;
    text-transform: uppercase;
    padding: 1.5rem 0;
}

.description {
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #D0D6F9;
}

.container__button {
    margin: 5.063rem 0 1.5rem 0;
    text-align: center;
}

.button {
    font-family: 'Bellefair', serif;
    font-size: 20px;
    text-transform: uppercase;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: none;
}

.button:hover {
    box-shadow: 0 0 1em rgba(255, 255, 255, 0.514);
    transition: all .1s;
}
