.img__destiny {
    background-image: url(../../img/destination/image-titan-p.png);
}

@media screen and (min-width: 768px) {
    .img__destiny {
        background-image: url(../../img/destination/image-titan-m.png);
        width: 300px;
        height: 300px;
    }
}

@media screen and (min-width: 1124px) {
    .img__destiny {
        background-image: url(../../img/destination/image-titan.png);
        width: 445px;
        height: 445px;
    }
}
